// 
//  Featured
//  ---------------------------------


.featured,
.featured .outer {
  background: darken($primary-color, 5%);
}
.featured {
  padding-top: 0;
  
  .inner {
    text-align: center;
    padding-top: 25px;
  }
  
  .inner,
  #{headings()},
  a {
    color: #ffffff;
  }
  
  a {
    text-decoration: underline;
  }
  
  .btn {
    text-decoration: none;
    background: #fcee7f;
    border-color: darken(#fcee7f, 40%);
    color: $text-color;
    Margin-top: 10px;
  }
  
  h2 {
    font-weight: 600;
    padding-top: 10px;
    Margin-bottom: 20px;
  }
  
  h4 {
    Margin-bottom: 15px;
  }
  
  p {
    Margin-bottom: 1.3em;
  }
}

.featured-img {
  Margin-bottom: 10px;
  
  @media screen and(max-width: 430px) {
		max-width: 100% !important;
  }
}


// 
//  Schedule
//  ---------------------------------


.schedule,
.schedule .outer {
  background: $aside-background;
}

.schedule-games td {
  padding-top: 7px;
  padding-bottom: 7px;
  vertical-align: top;
}

.schedule-date {
  width: 80px;
}

.schedule-time {
  width: 90px;
}

.schedule-home td {
  font-weight: bold;
}

td.schedule-key {
  font-size: floor($font-size-base * .95);
  text-align: center;
  padding-top: 15px;
}

@media screen and (max-width: $screen-sm) {
  .schedule-date,
  .schedule-time {
    width: auto !important;
  }
  
  .schedule-date {
    min-width: 60px !important;
  }
  
  .schedule-time {
    min-width: 65px !important;
    padding-left: 15px !important;
  }
}