// 
//  Header
//  ---------------------------------


// Logo
//---------------------

.header-logo .inner {
	padding-top: 20px;
	padding-bottom: 25px;
  	
	@media screen and(max-width: $screen-sm) {
    padding-bottom: 0 !important;
	}
	
	img {
		max-width: 165px;
	
  	@media screen and(max-width: $screen-sm) {
  		max-width: 165px !important;
  	}
	}
}


// Tagline
//---------------------

.header-tagline .inner {
	padding-top: 29px;
	padding-bottom: 25px;
  	
	@media screen and(max-width: $screen-sm) {
    padding-top: 10px !important;
	}
}
.header-tagline .contents {
  display: inline-block;
  font-size: 16px;
  text-align: right;
  
  a, & {
    color: $meta-color;
  }
}

@media screen and(max-width: $screen-sm) {
  .header-logo,
  .header-tagline {
    .contents {
      text-align: center !important;
    }
  }
}