// 
//  Scaffolding 
//  ---------------------------------


// Links
//---------------------

a {
  text-decoration: none;
  color: $link-color;
}

.textlink {
  color: $text-color;
}

.textlink a {
  color: $text-color;
  text-decoration: none;
}

.whitelink {
  color: #ffffff;
}

.whitelink a  {
  color: #ffffff;
  text-decoration: none;
}


// Image defaults
//---------------------

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
  
  a & {
    border: 0;
  }
}

.img_fix {
  display: block;
}

.full-width-image img {
	width: 100%;
	max-width: 570px;
	height: auto;
	padding-left: 15px;
	padding-right: 15px;
	
	@media screen and (max-width: 600px) {
  	max-width: 600px !important;
  	padding-left: 0px !important;
  	padding-right: 0px !important;
	}
}


// Default content
//---------------------

.contents {
  color: $text-color;
  font-family: $base-font;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  text-align: left;
}


// Preheader
//---------------------

.preheader {
  font-size:11px; 
  color: $meta-color;
  text-align: center;
  padding-bottom: 0px;
}