// 
//  Section
//  ---------------------------------


// Section Header
//---------------------

.section-header {
  padding-bottom: 0;
  
  a {
    color: $text-color;        
  }
  
  h4 {
    Margin-top: 0;
  }
}