// 
//  Section
//  ---------------------------------


// Section Header
//---------------------

.section-header {
  padding-top: 10px;
  padding-bottom: 0;
  
  a {
    color: $text-color;        
  }
}


// Listing
//---------------------

.listing .inner {
  padding-top: 10px;
}