/* line 6, ../scss/_reset.scss */
body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #ffffff;
}

/* line 13, ../scss/_reset.scss */
table {
  border-spacing: 0;
  color: #444444;
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 19, ../scss/_reset.scss */
td {
  padding: 0;
}

/* line 23, ../scss/_reset.scss */
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #ffffff;
}

/* line 31, ../scss/_reset.scss */
.webkit {
  max-width: 600px;
}

/* line 35, ../scss/_reset.scss */
.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
  background: #ffffff;
}

/* line 42, ../scss/_reset.scss */
.inner {
  padding: 10px 15px 25px 15px;
}

/* line 46, ../scss/_reset.scss */
.contents {
  width: 100%;
}

/* line 50, ../scss/_reset.scss */
p {
  Margin: 0;
}

/* line 9, ../scss/_scaffolding.scss */
a {
  text-decoration: none;
  color: #700429;
}

/* line 14, ../scss/_scaffolding.scss */
.textlink {
  color: #444444;
}

/* line 22, ../scss/_scaffolding.scss */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
}
/* line 28, ../scss/_scaffolding.scss */
a img {
  border: 0;
}

/* line 33, ../scss/_scaffolding.scss */
.img_fix {
  display: block;
}

/* line 37, ../scss/_scaffolding.scss */
.full-width-image img {
  width: 100%;
  max-width: 570px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 600px) {
  /* line 37, ../scss/_scaffolding.scss */
  .full-width-image img {
    max-width: 600px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

/* line 55, ../scss/_scaffolding.scss */
.contents {
  color: #444444;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

/* line 68, ../scss/_scaffolding.scss */
.preheader {
  font-size: 11px;
  color: #727272;
  text-align: center;
  padding-bottom: 0px;
}

/* line 9, ../scss/_grid.scss */
.two-column,
.three-column,
.five-column,
.sixtyfourty-column,
.sidebar {
  font-size: 0;
  text-align: center;
}
/* line 17, ../scss/_grid.scss */
.two-column .column,
.two-column .column-2,
.two-column .column-sixty,
.two-column .column-fourty,
.three-column .column,
.three-column .column-2,
.three-column .column-sixty,
.three-column .column-fourty,
.five-column .column,
.five-column .column-2,
.five-column .column-sixty,
.five-column .column-fourty,
.sixtyfourty-column .column,
.sixtyfourty-column .column-2,
.sixtyfourty-column .column-sixty,
.sixtyfourty-column .column-fourty,
.sidebar .column,
.sidebar .column-2,
.sidebar .column-sixty,
.sidebar .column-fourty {
  width: 100%;
  display: inline-block;
}
/* line 25, ../scss/_grid.scss */
.two-column img,
.three-column img,
.five-column img,
.sixtyfourty-column img,
.sidebar img {
  width: 100%;
  height: auto;
}

/* line 36, ../scss/_grid.scss */
.two-column .column,
.two-column .column-2,
.two-column .column-sixty,
.two-column .column-fourty,
.three-column .column,
.three-column .column-2,
.three-column .column-sixty,
.three-column .column-fourty,
.five-column
.sixtyfourty-column .column,
.five-column
.sixtyfourty-column .column-2,
.five-column
.sixtyfourty-column .column-sixty,
.five-column
.sixtyfourty-column .column-fourty {
  vertical-align: top;
}
/* line 43, ../scss/_grid.scss */
.two-column .text,
.three-column .text,
.five-column
.sixtyfourty-column .text {
  padding-top: 10px;
}

/* line 50, ../scss/_grid.scss */
.sidebar .column {
  vertical-align: middle;
}
/* line 54, ../scss/_grid.scss */
.sidebar img {
  max-width: 150px;
}

/* line 65, ../scss/_grid.scss */
.two-column .column {
  max-width: 300px;
}
/* line 69, ../scss/_grid.scss */
.two-column img {
  max-width: 270px;
}

/* line 80, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty {
  max-width: 360px;
}
/* line 83, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty img {
  max-width: 330px;
}
/* line 87, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty .inner td {
  width: 340px;
  max-width: 100%;
}
/* line 93, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty {
  max-width: 240px;
}
/* line 96, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty img {
  max-width: 210px;
}
/* line 100, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty .inner td {
  width: 340px;
  max-width: 100%;
}

/* line 113, ../scss/_grid.scss */
.three-column .column {
  max-width: 200px;
}
/* line 116, ../scss/_grid.scss */
.three-column .column .contents {
  text-align: center;
}
/* line 121, ../scss/_grid.scss */
.three-column .column-2 {
  max-width: 400px;
}
/* line 125, ../scss/_grid.scss */
.three-column img {
  max-width: 170px;
}
/* line 129, ../scss/_grid.scss */
.three-column .column-2 img {
  max-width: 370px;
}

/* line 140, ../scss/_grid.scss */
.five-column .column {
  max-width: 120px;
}
/* line 143, ../scss/_grid.scss */
.five-column .column .contents {
  text-align: center;
}
/* line 148, ../scss/_grid.scss */
.five-column img {
  max-width: 90px;
}

/* line 159, ../scss/_grid.scss */
.sidebar .aside {
  max-width: 180px;
}
/* line 163, ../scss/_grid.scss */
.sidebar .aside-sm {
  max-width: 102px;
}
/* line 167, ../scss/_grid.scss */
.sidebar .main {
  max-width: 318px;
}

@media screen and (max-width: 460px) {
  /* line 182, ../scss/_grid.scss */
  .two-column .column,
  .two-column .column-2,
  .two-column .column-sixty,
  .two-column .column-fourty,
  .three-column .column,
  .three-column .column-2,
  .three-column .column-sixty,
  .three-column .column-fourty,
  .five-column .column,
  .five-column .column-2,
  .five-column .column-sixty,
  .five-column .column-fourty,
  .sixtyfourty-column .column,
  .sixtyfourty-column .column-2,
  .sixtyfourty-column .column-sixty,
  .sixtyfourty-column .column-fourty {
    max-width: 100% !important;
    display: table !important;
  }

  /* line 190, ../scss/_grid.scss */
  .two-column img {
    max-width: 100% !important;
  }

  /* line 193, ../scss/_grid.scss */
  .three-column img {
    max-width: 50% !important;
  }

  /* line 199, ../scss/_grid.scss */
  .sixtyfourty-column .inner {
    width: 460px !important;
    max-width: 100% !important;
  }
  /* line 203, ../scss/_grid.scss */
  .sixtyfourty-column .inner td {
    width: 440px !important;
    max-width: 100% !important;
  }
  /* line 208, ../scss/_grid.scss */
  .sixtyfourty-column .column-sixty img {
    max-width: 100% !important;
  }
  /* line 212, ../scss/_grid.scss */
  .sixtyfourty-column .column-fourty img {
    max-width: 50% !important;
  }

  /* line 216, ../scss/_grid.scss */
  .sidebar .main {
    max-width: 100% !important;
    display: table !important;
  }
  /* line 220, ../scss/_grid.scss */
  .sidebar .main .contents {
    text-align: center !important;
  }
}
@media screen and (min-width: 461px) and (max-width: 620px) {
  /* line 229, ../scss/_grid.scss */
  .sixtyfourty-column .column-sixty {
    max-width: 60% !important;
  }
  /* line 233, ../scss/_grid.scss */
  .sixtyfourty-column .column-fourty {
    max-width: 40% !important;
  }

  /* line 240, ../scss/_grid.scss */
  .three-column .column {
    max-width: 33% !important;
  }
  /* line 244, ../scss/_grid.scss */
  .three-column .column-2 {
    max-width: 67% !important;
  }

  /* line 249, ../scss/_grid.scss */
  .two-column .column {
    max-width: 50% !important;
  }

  /* line 253, ../scss/_grid.scss */
  .five-column .column {
    max-width: 20% !important;
  }

  /* line 257, ../scss/_grid.scss */
  .sidebar .aside {
    max-width: 30% !important;
  }

  /* line 261, ../scss/_grid.scss */
  .sidebar .aside-sm {
    max-width: 17% !important;
  }

  /* line 265, ../scss/_grid.scss */
  .sidebar .main {
    max-width: 53% !important;
  }
}
/* line 9, ../scss/_type.scss */
h1, h2, h3, h4, h5, h6 {
  Margin-top: 0;
  color: #333333;
  font-weight: normal;
}
/* line 14, ../scss/_type.scss */
h1 a, a h1, h2 a, a h2, h3 a, a h3, h4 a, a h4, h5 a, a h5, h6 a, a h6 {
  text-decoration: none;
  color: #700429;
}

/* line 21, ../scss/_type.scss */
h1, h2, h3 {
  Margin-bottom: 12px;
  line-height: 1.2;
}

/* line 26, ../scss/_type.scss */
h3, h4 {
  Margin-top: 10px;
}

/* line 30, ../scss/_type.scss */
h4, h5, h6 {
  Margin-bottom: 8px;
}

/* line 34, ../scss/_type.scss */
h1 {
  font-size: 39px;
}
@media screen and (max-width: 460px) {
  /* line 34, ../scss/_type.scss */
  h1 {
    font-size: 30px !important;
  }
}

/* line 41, ../scss/_type.scss */
h2 {
  font-size: 32px;
}
@media screen and (max-width: 460px) {
  /* line 41, ../scss/_type.scss */
  h2 {
    font-size: 27px !important;
  }
}

/* line 48, ../scss/_type.scss */
h3 {
  font-size: 26px;
  line-height: 1.3;
}
@media screen and (max-width: 460px) {
  /* line 48, ../scss/_type.scss */
  h3 {
    font-size: 22px !important;
  }
}

/* line 56, ../scss/_type.scss */
h4 {
  font-size: 19px;
  line-height: 1.4;
}
@media screen and (max-width: 460px) {
  /* line 56, ../scss/_type.scss */
  h4 {
    font-size: 18px !important;
  }
}

/* line 63, ../scss/_type.scss */
h5 {
  font-size: 15px;
}

/* line 64, ../scss/_type.scss */
h6 {
  font-size: 13px;
}

/* line 70, ../scss/_type.scss */
p {
  padding: 0;
  Margin-bottom: 1.2em;
}

/* line 79, ../scss/_type.scss */
ul {
  margin: 0;
  Margin-bottom: 17px;
}

/* line 83, ../scss/_type.scss */
li {
  Margin-bottom: 7px;
}

/* line 91, ../scss/_type.scss */
.lead {
  font-size: 23px;
}

/* line 95, ../scss/_type.scss */
.more {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding-top: 2px;
}

/* line 106, ../scss/_type.scss */
small {
  color: #777777;
  font-size: 85%;
}

/* line 5, ../scss/_btn.scss */
.btn {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background: #700429;
  color: #ffffff;
  border: 1px solid #3f0217;
  font-size: 16px;
  font-weight: 600;
}

/* line 18, ../scss/_btn.scss */
.btn-sm {
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

/* line 26, ../scss/_btn.scss */
.btn-lg {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 33, ../scss/_btn.scss */
.btn-secondary {
  background: #ffffff;
  border: 1px solid #b3b3b3;
  color: #565656;
}

/* line 9, ../scss/_header.scss */
.header-logo .inner {
  padding-top: 10px;
  padding-bottom: 25px;
}
@media screen and (max-width: 460px) {
  /* line 9, ../scss/_header.scss */
  .header-logo .inner {
    padding-bottom: 0 !important;
  }
}
/* line 17, ../scss/_header.scss */
.header-logo .inner img {
  max-width: 165px;
}
@media screen and (max-width: 460px) {
  /* line 17, ../scss/_header.scss */
  .header-logo .inner img {
    max-width: 165px !important;
  }
}

/* line 30, ../scss/_header.scss */
.header-tagline .inner {
  padding-top: 10px;
  padding-bottom: 25px;
}
@media screen and (max-width: 460px) {
  /* line 30, ../scss/_header.scss */
  .header-tagline .inner {
    padding-top: 10px !important;
  }
}

/* line 38, ../scss/_header.scss */
.header-tagline .contents {
  display: inline-block;
  font-size: 16px;
  text-align: right;
}
/* line 43, ../scss/_header.scss */
.header-tagline .contents a, .header-tagline .contents {
  color: #727272;
}

@media screen and (max-width: 460px) {
  /* line 51, ../scss/_header.scss */
  .header-logo .contents,
  .header-tagline .contents {
    text-align: center !important;
  }
}
/* line 9, ../scss/_section.scss */
.section-header {
  padding-top: 25px;
  padding-bottom: 0;
}
/* line 13, ../scss/_section.scss */
.section-header a {
  color: #444444;
}

/* line 6, ../scss/_featured.scss */
.featured,
.featured .outer {
  background: #570320;
}

/* line 12, ../scss/_featured.scss */
.featured .inner {
  text-align: center;
  padding-top: 25px;
}
/* line 17, ../scss/_featured.scss */
.featured .inner,
.featured h1, .featured h2, .featured h3, .featured h4, .featured h5, .featured h6,
.featured a {
  color: #ffffff;
}
/* line 23, ../scss/_featured.scss */
.featured a {
  text-decoration: underline;
}
/* line 27, ../scss/_featured.scss */
.featured .btn {
  text-decoration: none;
  background: #fcee7f;
  color: #444444;
  Margin-top: 10px;
}
/* line 34, ../scss/_featured.scss */
.featured h2 {
  font-weight: 600;
  padding-top: 10px;
  Margin-bottom: 20px;
}
/* line 40, ../scss/_featured.scss */
.featured h4 {
  Margin-bottom: 15px;
}
/* line 44, ../scss/_featured.scss */
.featured p {
  Margin-bottom: 1.3em;
}

/* line 49, ../scss/_featured.scss */
.featured-img {
  Margin-bottom: 10px;
}
@media screen and (max-width: 430px) {
  /* line 49, ../scss/_featured.scss */
  .featured-img {
    max-width: 100% !important;
  }
}
